@import "/node_modules/materialize-css/dist/css/materialize.min.css";
@import "assets/styles.min.css";


html { 
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  html::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  body {
    background-color: #e7e7e7;
  }
  
  .btn {
    width: 100%;
  }