<nav class="navbar blue-grey darken-3 lighten-1">
    <div class="nav-wrapper">
      <div class="navbar-left">
        <a routerLink="overview" style="display:flex">
          <i class="large material-icons white-text">compare_arrows</i>
          <span class="white-text" style="padding-left:10px">Reactive links</span>
        </a>
      </div>
  
      <ul class="right hide-on-small-and-down profile">
        <li>
          <a routerLink="profile" class="dropdown-trigger white-text"
             *ngIf="userEmail">
            <i class="material-icons right">fingerprint</i>
            <span>{{userEmail}}</span>
          </a>
  
          <ul id='dropdown' class='dropdown-content'>
            <li>
              <!--route to user profile-->
              <a href="#" class="black-text">
                <i class="material-icons">exit_to_app</i>Profile
              </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li>
              <a href="#" class="black-text">
                <i class="material-icons">power_settings_new</i>Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>