<div class="sidenav sidenav-fixed a-sidenav">
  <div class="blue-grey darken-2" style="margin-top: -15px; color: white;">
    <li class="sidenav-logo">
      <!-- <i class="material-icons">exit_to_app</i> -->
      <span class="sidebar-logo-title">Reactive Links</span>
    </li>
  </div>
  <ul>

    <ng-container *ngFor="let link of links">
      <li class="sidenav-link">
        <a [routerLink]="[link.url]" class="waves-effect waves-blue lnk">
          <i class="material-icons left sidenav-icon">{{link.icon}}</i>
          <span class="a-sidebar-link-title">{{link.name}}</span>
        </a>
      </li>
    </ng-container>
  
    <li class="bold last exit_to_app">
      <a href="#" (click)="logOut($event)">
        <i class="material-icons">exit_to_app</i>
        <span class="a-sidebar-link-title">Logout</span>
      </a>
    </li>
  </ul>
</div>

  