.sidenav {
  padding-top: 80px;
  &:first-child{
    padding-top: 15px;
  }

  .sidenav-logo {
    display: flex;
    padding: 14px 30px ;
    margin: 0 auto;

    .sidebar-logo-title {
      font-weight: bold;
      margin-top: -12px;
      padding: 0 32px ;
    }
  }
  .sidenav-link {
    .sidenav-sub-menu {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
  
    &:hover {
      .sidenav-sub-menu {
        padding: 0 30px;
        height: 100%;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

.sidenav-icon{
  width:  10px !important;
}

