<div class="error-container">
  <h1>Упс! Ошибка... </h1>
  <p>К сожалению, короткая ссылка не найдена.</p>
  <img src="assets/img/error.png" alt="Error Image">
  <p>Пожалуйста, проверьте правильность введённой ссылки.</p>
  <a href="/register" class="register-button">Перейти на страницу регистрации</a>
</div>
