.error-container {
  text-align: center;
  margin-top: 50px;
}

.error-container h1 {
  font-size: 2.5em;
  color: #ff0000;
}

.error-container p {
  font-size: 1.2em;
  color: #333;
}

.error-container img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.register-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0056b3;
}
