.ov-container {
    width: 1400px;
    margin: 0 auto;

    .chart {
        max-width: 100%;
        height: 400px;
        display: block;
    }    

    .card {
        margin-top: 65px;
        user-select: none;

        .tbl {
            cursor: pointer;
            user-select: none;
        
            .tbl_data {
                font-weight: bold;
                &:hover {
                    color: rgb(102, 101, 101);
                    background-color: rgba(172, 168, 168, 0.459);
                }
            }
        }
    }
}

.date_range {
    margin-top: 4px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    float: right;
    user-select: none;
    
    .date_range_input {
        width: 110px;
    }

    .date_range_btn {
        margin-top: 10px;
        width: 150px;
    }
}

.analitycs-card-group {
    display: flex;
    justify-content:  space-between;
    margin-top: -45px;
    .data {
        width: 24%;
        height: 100px;
    }
}