<div class="ov-container">
  <h4>Analytics: <span>link conversion data</span></h4>
  <!-- <form [formGroup]="dataRangeFliter" class="date_range" (ngSubmit)="onSubmit()">
    <input formControlName="dateFrom" type="date" class="date_range_input">
    <input formControlName="dateTo" type="date" class="date_range_input">
    <button class="waves-effect waves-gray date_range_btn btn blue-grey darken-3">apply date</button>
  </form> -->
  <highcharts-chart
    class="chart" 
    [Highcharts]="Highcharts"
    [options]="chartOptions"
  >
  </highcharts-chart>

  <form [formGroup]="dataRangeFliter" class="date_range" (ngSubmit)="onSubmit()">
    <input formControlName="dateFrom" type="date" class="date_range_input">
    <input formControlName="dateTo" type="date" class="date_range_input">
    <button class="waves-effect waves-gray date_range_btn btn blue-grey darken-2">apply date</button>
  </form>

  <div class="card">
    <div class="card-content">
      <table class="striped tbl">
        <thead>
          <tr class="tbl_data">
              <th>Short link</th>
              <th>Web link</th>
              <th>Mobile link</th>
              <th>Clicks</th>
          </tr>
        </thead>
    
        <tbody>
          <ng-container *ngFor="let link of tableData$ | async">
          <tr (click)="updateChart(link.shortLink)">
            <td>
              <span>{{ link.shortLink }}</span>
            </td>
            <td>
              <span>{{link.webLink}}</span>
            </td>
            <td>
              <span>{{link.mobileLink}}</span>
            </td>
            <td>{{link.clicks}}</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>