<H4>Links Data</H4>
<button class="btn modal-trigger blue-grey darken-2 lighten-1" 
  data-target="create-modal"
  style="width: 200px;">
    create link
</button>

<div class="card">
    <table class="striped">
        <thead>
          <tr>
              <th>Short Link</th>
              <th>Web Link</th>
              <th>Mobile Link</th>
              <th>Link Status</th>
              <th>Date Create</th>
              <th>Expire Date</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let link of links$ | async">
              <tr>
                <td>
                  <a href="http://localhost/stream/{{link.shortLink}}">{{link.shortLink}}</a>
                </td>
                <td>{{link.webLink}}</td>
                <td>{{link.mobileLink}}</td>
                <td>{{link.linkStatusId}}</td>
                <td>{{link.creationDate}}</td>
                <td>{{link.expirationDate}}</td>
              </tr>
            </ng-container>
        </tbody>
      </table>
</div>

  <!-- Modal Structure -->
<div id="create-modal" class="modal" #createModal>
  <div class="modal-content">
    <h5>Create new link</h5>
    <form [formGroup]="createLinkForm">
      <div class="input-field">
        <input id="wl"
               type="text"
               formControlName="webLink"
        >
        <label for="wl">WebLink</label>
      </div>
      <div class="input-field">
        <input id="ml"
               type="text"
               formControlName="mobileLink"
        >
        <label for="ml">MobileLink</label>
      </div>
      <div class="input-field">
        <input id="us"
               type="text"
               formControlName="utmSource"
        >
        <label for="us">UtmSource</label>
      </div>
      <div class="input-field">
        <input id="um"
               type="text"
               formControlName="utmMedium"
        >
        <label for="um">UtmMedium</label>
      </div>
      <div class="input-field">
        <input id="uc"
               type="text"
               formControlName="utmCampaing"
        >
        <label for="uc">UtmCampaing</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button 
      class="btn modal-close waves-effect waves-green btn-flat"
      (click)="onSubmit()"
    >
      Create
    </button>
  </div>
</div>
