<form class="card auth-card"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
>
  <div class="card-content">
    <span class="card-title center">Reactive links</span>
    <div class="input-field">
      <input id="email"
             type="text"
             formControlName="email"
             [ngClass] ="{'invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
      >
      <span class="helper-text red-text"
            *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span *ngIf="loginForm.hasError('required', ['email'])">Не введен email </span>
        <span *ngIf="loginForm.hasError('email', ['email'])">Введен некорректный email </span>
      </span>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input id="password"
             type="password"
             formControlName="password"
             [ngClass] ="{'invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
      >
      <span class="helper-text red-text"
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span *ngIf="loginForm.hasError('required', ['password'])">Не введен пароль </span>
        <span *ngIf="loginForm.hasError('minlength', ['password'])">Введен некорректный пароль </span>
      </span>
        <label for="password">Пароль</label>
    </div>
  </div>
  <div class="card-action">
    <div>
      <button
            class="btn waves-effect waves-light auth-submit cyan darken-4"
            type="submit"
            [disabled]="loginForm.invalid || loginForm.disabled"
      >
        Войти
        <i class="material-icons right">send</i>
      </button>
    </div>

    <p class="center">
      Нет аккаунта?
      <a routerLink="/register">Зарегистрироваться</a>
    </p>
  </div>
</form>


