<form class="card auth-card"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title center">Reactive links</span>
    <div class="input-field">
      <input id="email"
             type="email"
             formControlName="email"
             [ngClass]="{'invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">
      <label for="email">Email</label>
      <span class="helper-text red-text"
            *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <span *ngIf="registerForm.hasError('required', ['email'])">Не введен email </span>
        <span *ngIf="registerForm.hasError('email', ['email'])">Введен некорректный email </span>
      </span>
    </div>
    <div class="input-field">
      <input id="password"
             type="password"
             formControlName="password"
      >
      <span class="helper-text red-text"
            *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <span *ngIf="registerForm.hasError('required', ['password'])">Не введен пароль </span>
        <span *ngIf="registerForm.hasError('minlength', ['password'])">Введен некорректный пароль </span>
      </span>
      <label for="password">Пароль</label>

    </div>

    <div class="input-field">
      <input id="confirm_password"
             type="password"
             formControlName="confirm_password"
      >
      <span class="helper-text red-text"
            *ngIf="registerForm?.errors?.['mismatch'] && registerForm.get('confirm_password')?.touched">
        <span *ngIf="registerForm?.errors?.['mismatch']">Пароли не совпадают </span>
      </span>
      <label for="confirm_password">Пароль повторно</label>
    </div>
    <p>
      <label>
        <input type="checkbox" formControlName="agree" />
        <span>С правилами согласен</span>
      </label>
    </p>
  </div>
  <div class="card-action">
    <div>
      <button class="btn waves-effect waves-light auth-submit cyan darken-4"
              type="submit"
              [disabled]="registerForm.invalid || registerForm.disabled"
      >
        Зарегистрироваться
        <i class="material-icons right">send</i>
      </button>
    </div>

    <p class="center">
      Уже есть аккаунт?
      <a routerLink="/login">Войти!</a>
    </p>
  </div>
</form>
